.title {
  text-align: center;
  font-size: 35px;
  font-weight: normal;
  padding-bottom: 40px;
}

.subTitle{
  padding-top: 30px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
}

.card-img-overlay {
  padding: 0;
}

